{% extends 'admin/base.html.twig' %}

{% block content %}
	<div class="card card-custom">
        <div class="card-header">
            <div class="card-title">
                {# <span class="card-icon">
                    <i class="flaticon2-chat-1 text-primary"></i>
                </span> #}
                <h3 class="card-label">
                    {{ view.module.name|upper }}
                    {# <small>sub title</small> #}
                </h3>
            </div>
            <div class="card-toolbar">
                <div class="input-group input-group-sm input-group-solid mr-2"  style="width: 300px;">
					<input type="text" class="form-control pl-4 global_filter" placeholder="Search..." data-toggle="global_filter">
					<div class="input-group-append">
                        <button data-toggle="global_clean_filter" class="btn btn-secondary">
                            <i class="flaticon2-delete text-black-50"></i>
                        </button>
                    </div>
				</div>
                {# <div class="d-flex align-items-center justify-content-between">
                    <div class="card-toolbar mr-2">
                        <div class="dropdown dropdown-inline">
                            <a type="button" class="btn btn-primary btn-sm font-weight-bold" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="ki ki-reload icon-1x"></i>{{ 'Syncronizar'|title }}</a>
                            <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                                <ul class="navi flex-column navi-hover py-2">
                                    <li class="navi-header font-weight-bolder text-uppercase font-size-xs text-primary pb-2">{{ 'Syncronizar '|trans|title }}</li>
                                    {% for app in applications %}
                                        <li class="navi-item">
                                            <a href="" class="navi-link">
                                                <span class="navi-icon"> <i class="flaticon-map icon-lg text-muted font-weight-bold"></i> </span>
                                                <span class="navi-text">{{ app|capitalize }}</span>
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div> #}
                <div class="d-flex align-items-center justify-content-between">
                    <div class="card-toolbar mr-2">
                        {# <div class="dropdown dropdown-inline mr-2">
                            <a class="btn btn-secondary btn-sm font-weight-bold" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="la la-columns"></i>{{ 'columns'|trans|title }}</a>
                            <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                                <ul class="navi flex-column navi-hover py-2 navi-active navi-accent">
                                    <li class="navi-header font-weight-bolder text-uppercase font-size-sm text-primary pb-2">Cols. Habilitadas</li>
                                    <li class="navi-item">
                                        <a href="#" class="navi-link" data-toggle="column-vis" data-column="1" data-visible="true">
                                            <span class="navi-text">Column 1</span>
                                        </a>
                                    </li>
                                    <li class="navi-item">
                                        <a href="#" class="navi-link" data-toggle="column-vis" data-column="2" data-visible="true">
                                            <span class="navi-text">Column 2</span>
                                        </a>
                                    </li>
                                    <li class="navi-item">
                                        <a href="#" class="navi-link" data-toggle="column-vis" data-column="3" data-visible="true">
                                            <span class="navi-text">Column 3</span>
                                        </a>
                                    </li>
                                    <li class="navi-item">
                                        <a href="#" class="navi-link" data-toggle="column-vis" data-column="4" data-visible="true">
                                            <span class="navi-text">Column 4</span>
                                        </a>
                                    </li>
                                    <li class="navi-item">
                                        <a href="#" class="navi-link" data-toggle="column-vis" data-column="5" data-visible="true">
                                            <span class="navi-text">Column 5</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div> #}
                        <div class="dropdown dropdown-inline">
                            <a type="button" class="btn btn-secondary btn-sm font-weight-bold" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="la la-download"></i>{{ 'export'|trans|title }}</a>
                            <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                                <ul class="navi flex-column navi-hover py-2">
                                    <li class="navi-header font-weight-bolder text-uppercase font-size-xs text-primary pb-2">{{ 'export rows'|trans|title }}</li>
                                    <li class="navi-item">
                                        <a href="#" class="navi-link" data-table="export_print">
                                            <span class="navi-icon">
                                                <i class="la la-print"></i>
                                            </span>
                                            <span class="navi-text">Print</span>
                                        </a>
                                    </li>
                                    <li class="navi-item">
                                        <a href="#" class="navi-link" data-table="export_copy">
                                            <span class="navi-icon">
                                                <i class="la la-copy"></i>
                                            </span>
                                            <span class="navi-text">Copy</span>
                                        </a>
                                    </li>
                                    <li class="navi-item">
                                        <a href="#" class="navi-link" data-table="export_csv">
                                            <span class="navi-icon">
                                                <i class="la la-file-text-o"></i>
                                            </span>
                                            <span class="navi-text">CSV</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		<div class="card-body">
            <table class="table table-separate table-head-custom table-checkable compact" data-table="ajax" id="datatable-{{ random(10, 99) }}" token="data-table-{{ random(10, 99) }}">
                <thead>
                    <tr>
                        <th class="text-nowrap">{{ 'key.trans.order'|trans }}</th>
                        <th class="text-nowrap text-center">{{ 'key.trans.invoice'|trans }}</th>
                        <th class="text-nowrap text-center">{{ 'key.trans.items'|trans }}</th>
                        <th class="text-nowrap text-center">{{ 'key.trans.price'|trans }}</th>
                        <th class="text-nowrap text-center">{{ 'key.trans.site'|trans }}</th>
                        <th class="text-nowrap text-center">{{ 'key.trans.status'|trans }}</th>
                        <th class="text-nowrap text-center">{{ 'key.trans.application'|trans }}</th>
                        <th class="text-nowrap text-center">{{ 'key.trans.dni'|trans }}</th>
                        <th class="text-nowrap text-center">{{ 'key.trans.customer'|trans }}</th>
                        <th class="text-nowrap text-center">{{ 'Creado' }}</th>
                        {# <th width="1%" data-orderable="false"></th> #}
                    </tr>
                </thead>
            </table>
		</div>
	</div>

    {% include "admin/ui/modal/prototype.html.twig"
        with {
            modal: { type : 'ajax', size : 'xl' }
        }
    %}
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        var initTableAjax = function() {
            console.log(_HOST);
            var tableajax = $('table[data-table=ajax]');
            tableajax.DataTable({
                responsive: true,
                paging    : true,
                pagingType: 'full_numbers',
                colReorder: true,
                dom: 
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7 dataTables_pager'lp>>",
                lengthMenu: [10, 25, 50],
                pageLength: 10,
                language: {
                    'lengthMenu': 'Display _MENU_',
                    "zeroRecords": "Nothing found - sorry",
                    "infoEmpty": "No records available",
                },
                buttons: [
                    'print',
                    'copyHtml5',
                    'csvHtml5'
                ],
                processing: true,
                serverSide: true,
                ajax: {
                    url: `${_HOST}/api/v1/order/list`,
                    type: 'POST',
                    headers: {
                        'X-AUTH-TOKEN': _USERTOKEN
                    },
                    data: {
                        user_id: _USERID,
                        // pagination: { perpage: 50, },
                        // columnsDef: [ "name", "stock", "price", "special_price", 'status'],
                    },
                },
                columns: [
                    {name:"o.reference_id",  data: 'reference_id', class: "text-center valign-middle"},
                    {name:"o.invoice_id", data: 'invoice_id', class: "text-center valign-middle"},
                    {
                        name:"o.items",
                        data: function(row, type, set){
                            return row.items.length; 
                        },
                        class: "text-center valign-middle"
                    },
                    {name:"o.grand_total", data: 'grand_total', class: "text-center valign-middle"},
                    {name:"o.store_code", data: 'store_code', class: "text-center valign-middle"},
                    {name:"o.status", data: 'status', class: "text-center valign-middle"},
                    {name:"a.name", data: 'connector.application.name', class: "text-center valign-middle"},
                    {name:"o.customer_dni", data: 'customer_dni', class: "text-center valign-middle"},
                    {name:"o.customer_name", data: 'customer_name', class: "text-center valign-middle"},
                    {
                        name:"o.created",
                        orderable: true,
                        data: function(row, type, set){
                            return moment(row.created.date).format('DD/MM/YYYY h:mm');
                        },
                        class: "text-center valign-middle"
                    }
                ]
                // columnDefs: [
                //     {
                //         targets: -1,
                //         title: 'Actions',
                //         class: "text-center valign-middle",
                //         orderable: false,
                //         render: function(data, type, full, meta) {
                //             return `\
                //                 <a href="${_HOST}/order/show/${full.id}" class="btn btn-sm btn-clean btn-icon " title="details">\
                //                     <i class="flaticon-search"></i>\
                //                 </a>\
                //             `;
                //         },
                //     }
                // ]
            });

            // FILTRADO
            $('input[data-toggle=global_filter]').on('keypress', function (event) {
                var keycode = (event.keyCode ? event.keyCode : event.which);
                if(keycode == '13'){
                    tableajax.DataTable().search($(this).val()).draw();
                }
            } );

            // CLEAR FILTER
            $('button[data-toggle=global_clean_filter]').on('click', function(e) {
                e.preventDefault();
                tableajax.DataTable().search('').draw();
                $('input[data-toggle=global_filter]').val('');
            });

            // EXPORT
            $('a[data-table=export_print]').on('click', function(e) {
                e.preventDefault();
                tableajax.DataTable().button(0).trigger();
            });

            $('a[data-table=export_copy]').on('click', function(e) {
                e.preventDefault();
                tableajax.DataTable().button(1).trigger();
            });

            $('a[data-table=export_csv]').on('click', function(e) {
                e.preventDefault();
                tableajax.DataTable().button(2).trigger();
            });        
        };

        jQuery(document).ready(function() {
            initTableAjax();
        });
    </script>
{% endblock %}