{% extends 'admin/product/show.html.twig' %}

{% block tab_container %}
    {% for variation in entity.variations %}
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div class="d-flex">
                    <div class="flex-shrink-0 mr-7 mt-lg-0 mt-3">
                        <div class="symbol symbol-50 symbol-lg-120">
                            <img src="{{ asset(variation.images[0]|default('build/media/admin/svg/files/jpg.svg')) }}" class="h-100 align-self-end" alt="image">
                        </div>
                    </div>
                    <div class="flex-grow-1">
                        <div class="d-flex align-items-center justify-content-between flex-wrap">
                            <div class="mr-3">
                                <span class="text-dark-75 font-size-h5 font-weight-bold mr-3">
                                    {{variation.name|capitalize}}
                                    <span class="label label-xl label-{{ variation.status ? 'success' : 'danger'}} label-dot"></span>
                                </span>
                                <div class="d-flex flex-wrap my-2">
                                    <span class="text-dark-50 font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-2">
                                        <i class="flaticon2-tag mr-2 font-size-lg"></i>
                                        {{ variation.sku|upper }}
                                    </span>
                                    <span class="text-dark-50 font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-2">
                                        <i class="flaticon2-user mr-2 font-size-lg"></i>
                                        {{ variation.client }}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center flex-wrap justify-content-between">
                            <div class="d-flex flex-wrap align-items-center py-2">
                                <div class="d-flex align-items-center mr-10">
                                    <div class="mr-6">
                                        <div class="font-weight-bold mb-2">{{ "fecha de Creación"|capitalize }}</div>
                                        <span class="font-weight-bold">{{ variation.created|date("d M, Y - H:i:s") }}</span>
                                    </div>
                                    <div class="">
                                        <div class="font-weight-bold mb-2">{{ "ultima actualización"|capitalize }}</div>
                                        <span class="font-weight-bold">{{ variation.updated|date("d M, Y - H:i:s") }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="separator separator-solid my-7"></div>
                <div class="d-flex align-items-center flex-wrap">
                    <div class="d-flex align-items-center flex-lg-fill mr-5 my-1">
                        <span class="mr-4">
                            <i class="flaticon2-delivery-package icon-2x text-muted font-weight-bold"></i>
                        </span>
                        <div class="d-flex flex-column text-dark-75">
                            <span class="font-weight-bolder font-size-sm">{{ "stock"|title}}</span>
                            <span class="font-weight-bolder font-size-h5">{{ variation.stock|format_number }}</span>
                        </div>
                    </div>
                    <div class="d-flex align-items-center flex-lg-fill mr-5 my-1">
                        <span class="mr-4">
                            <i class="flaticon-price-tag icon-2x text-muted font-weight-bold"></i>
                        </span>
                        <div class="d-flex flex-column text-dark-75">
                            <span class="font-weight-bolder font-size-sm">{{ "Precio"|title}}</span>
                            <span class="font-weight-bolder font-size-h5">{{ variation.price|format_currency('ARS', locale='es_AR') }}</span>
                        </div>
                    </div>
                    <div class="d-flex align-items-center flex-lg-fill mr-5 my-1">
                        <span class="mr-4">
                            <i class="flaticon-piggy-bank icon-2x text-muted font-weight-bold"></i>
                        </span>
                        <div class="d-flex flex-column text-dark-75">
                            <span class="font-weight-bolder font-size-sm">{{ "precio especial"|title }}</span>
                            <span class="font-weight-bolder font-size-h5">{{ variation.specialPrice|format_currency('ARS', locale='es_AR') }}</span>
                        </div>
                    </div>
                    <div class="d-flex align-items-center flex-lg-fill my-1">
                        <span class="mr-4">
                            <i class="flaticon2-image-file icon-2x text-muted font-weight-bold"></i>
                        </span>
                        <div class="symbol-group symbol-hover">
                            {% for image in variation.images %}
                                <a href="{{ asset(image) }}" class="symbol symbol-30 symbol-circle" data-toggle="tooltip" target="_blank">
                                    <img src="{{ asset(image) }}" >
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}